/* Titles */
#uiTitle {
    color: white;
    text-align: center;
    vertical-align: center;
    background-color: black;
    padding-top: 20px;
    padding-bottom: 20px;
}

.sectionTitle {
    text-align: center;
}

#buttonDiv {
    text-align: center;
}

#submitButton {
    border-radius: 5px;
    background-color: black;
    color: white;
    padding: 10px;
    margin-top: 20px;
    font-size: 16px;
    border: none;
    width: 10%;
}

.loanInput {
    width: 100%;
    box-sizing: border-box;
    text-align: center;
    border: 0;
}

/* Tables */
.mytable {
    table-layout: fixed;
    width: 30%;
    margin-left: 35%;
    margin-top: 5px;
    text-align: center;
    border-radius: 5px;
    border: 1px solid lightgray;
}

.mytable tbody {
    display: block;
    height: 60%;
}

.mytable thead,
tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed; /* even columns width , fix width of table too*/
}

.mytable thead {
    border-bottom: 1px solid lightgrey;
}

.mytable td {
    /*white-space: nowrap;*/
    /*overflow: auto;*/
    /*text-overflow: ellipsis;*/
}

.mytable .fieldColumn {
    border-right: 1px solid black;
    width: 50%;
}

/* Sticky footer */
body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    background-color: black;
    color: white;
    text-align: center;
    font-size: 16px;
}
